ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilize cada item da lista de tarefas */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
}

/* Adicione uma sombra sutil aos itens da lista */
li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s;
}

/* Estilize o texto das tarefas concluídas */
li[ngStyle] {
  text-decoration: var(--text-decoration, none);
}

/* Estilize o botão "Concluir" */
button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilize o botão "Concluir" quando hover */
button:hover {
  background-color: #217dbb;
}
